[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyftpdlib = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
ftputil = "*"
flask-mail = "*"

[requires]
python_version = "3.7"
